@import 'tailwindcss';
@import '../styles/styles.scss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@variant dark (&:where(.dark, .dark *));

html {
    font-size: 10px;
}

@theme {
    --color-foreground: #111827;
    --color-background: #e2e8f0;
    --color-tag: #ccc;
    --color-primary: #006d3b;
    --color-border: #006d3b;
    --color-header-bg: #ffffff;
    --color-footer-bg: #f3f4f6;
    --color-content-bg: #ffffff;
}

.dark {
    --color-foreground: #e2e8f0;
    --color-background: #111111;
    --color-tag: #272727;
    --color-header-bg: #030507;
    --color-footer-bg: #030507;
    --color-content-bg: #030507;
    --color-primary: #006d3b;
    --color-border: #006d3b;
}
